.album {
  background-color: grey;
}

#song-list {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

tr:hover{
  background-color: yellow;
  /* songs are poping because of two differnt methods for icons*/
}

.App {
  text-align: center;
  background-color: pink;
}

header nav{
  background-color: lightblue;
}

header nav a:hover{
  background-color: green;
  font-size: 15;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
